* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.title {
    text-decoration: none;
    color: rgb(73, 240, 255);
    font-size: 40px;
}
.title:hover {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

header {
    background-color: rgb(33, 33, 33);
    text-align: center;
    padding: 10px 0px;
    border: 3px solid rgb(73, 240, 255);
    border-radius: 20px;
    margin: 14px;
}

.cont {
    display: flex;
}

nav {
    background-color: rgb(0, 0, 0);
    width: 180px;
    height: 450px;
    border: 3px solid rgb(73, 240, 255);
    border-radius: 20px;
    margin: 24px;
}

.img1 {
    padding: 14px;
    width: 600px;
}

.img2 {
    padding: 14px;
    width: 450px;
}

nav ul {
    padding: 25px 0px 30px 30px;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(73, 240, 255);
    font-weight: 200;
}

ul li a:hover {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
}

footer {
    color: white;
    background-color: rgb(33, 33, 33);
    font-weight: 600;
}

footer p {
    padding: 20px 0px 40px 40px;
}
